@model Web.ViewModels.PaymentRequestViewModel
@{
    ViewBag.Title = "پرداخت آنلاین";
}
<style>

    #container {
        box-shadow: 5px 5px 10px #888888;
        padding: 30px;
        text-align: center;
    }

    #return {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
        height: 250px;
    }
</style>

<form id="container" asp-action="NewRequest" asp-controller="Payment" class="text-center">
    <div class="row">
        <div class="offset-xl-4 offset-lg-4 offset-md-3"></div>
        <div class="form-group col-xl-4 col-lg-4 col-md-6 col-sm-12">
            <label asp-for="BilligId"></label>
            <input type="text" class="form-control text-center" asp-for="BilligId">
        </div>
    </div>
    <div class="row">
        <div class="offset-xl-4 offset-lg-4 offset-md-3"></div>
        <div class="form-group col-xl-4 col-lg-4 col-md-6 col-sm-12">
            <label asp-for="PaymentCode"></label>
            <input type="text" class="form-control text-center" asp-for="PaymentCode">
        </div>
    </div>
    <div class="row">
        <div class="offset-xl-4 offset-lg-4 offset-md-3"></div>
        <div class="form-group col-xl-4 col-lg-4 col-md-6 col-sm-12">
            <button type="submit" class="btn btn-primary w-100">انتقال به صفحه پرداخت</button>
        </div>
    </div>
</form>


@section scripts {
    <script>
        $(function () {

            var $button = $('#return a');
            var second = 10;

            setInterval(TimerEvent, 1000);

            function TimerEvent() {
                $button.text(`بازگشت با سایت اصلی (${second--})`);

                if (second <= 0) {
                    $button.click();
                }
            }


        });

    </script>
}
